<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.crema.novelia.smoke">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="Novelia smoke" />
    <instrumentation
        android:name="me.crema.novelia.SmokeInstrumentation"
        android:targetPackage="me.crema.novelia"
        android:label="API 19 smoke" />
</manifest>
